.pagination {
  width: 100%;
  text-align: center;
  transform: translateY(+150%);
}

.num {
  margin: 6px 1px;
  display: inline-block;
  width: 50px;
  background: #607d8b;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.num:hover {
  color: #e74c3c;
}

.num:focus {
  outline: none;
}

.num--active {
  color: #ec407a !important;
}
