.info__image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 993px) {
  .info__image {
    margin: 0;
  }
}

@media (min-width: 1600px) {
  .info__image {
    max-width: 70%;
    margin: 0 auto;
  }
}
