.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100%;
}

.info__link {
  color: #673fa5;
}

@media (max-width: 767px) {
  .info__container__button {
    width: 60% !important;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .info__container__button {
    width: 20%;
  }
}

@media (max-width: 992px) {
  .info__container {
    text-align: center;
  }

  .info__container__button {
    width: 40%;
    align-self: center;
  }
}

@media (min-width: 993px) {
  .info__container__button {
    width: 40%;
    align-self: flex-start;
  }
}

@media (min-width: 1600px) {
  .info__container__button {
    width: 25%;
  }
}
