.ui.segment{
    height: 80vh;
}

.ui.inverted.menu{
    background:#607D8B !important ;
}


div.item:hover{
    background-color: #1e70bf !important;
}



@media screen and (max-width: 400px){
    .ui.thin.left.sidebar{
        width: 100px;
    }
}



