.formSelect .item {
  color: black !important;
}

.ui.dropdown:not(.button) > .default.text {
  color: rgb(121, 118, 118);
}

.cardElements {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cardElements > * {
  padding: 0.5rem;
}
